*{
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.ulTopBar{
    list-style: none;
    text-align: center;
    background-color: #000000;
}

.liMenuIcon{
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
}

.liShoppingCart{
 position: absolute;
 top: 0;
 right: 0;
}
.divSearchTopBar{
    padding: 0 0 0 2%;
    background-color: #000000;

}

.inputSearchTopBar{
    background-color: #282828;

    
}

input{
    background-image: url(/img/search.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: -8px;
    background-position-x: 5px;
    padding-left:25px;
    padding-bottom: 4px;  
    padding-top: 6px;
    width: 98%;
   
}

.hrSearchTopBar{
    margin: 10px 0 10px 0;
 
}

.ulMenuItems{
    background-color: #000000;
}
.liMenuItems{
    color:#ffffff; 
    padding: 0 0 0 7%;
}
.h1Iphone11Pro{
    font-size: 2em;
    text-align: center;
    background-color: #000000;

}
.h2Pro{
    font-size: 1.5em;
    text-align: center;
    background-color: #000000;

}
.pFrom{
    text-align: center;
    color: #888888;
    background-color: #000000;
    padding-top: 5px;

}

.aLearnMoreBuy{
    text-align: center;
    background-color: #000000;
    padding-top: 10px;
}

.aLearnMore{
    color: #66BBFF;
    
}

.aBuy{
    color: #66BBFF;
}

.figureiPhone11Pro{
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
}

body{
    /* background-image: url(/img/iphone11pro.jpg);
    background-repeat: no-repeat;
    background-position: center; */
}

.sectionIphone11Pro{
    color: #ffffff;
}

.sectionIphone11{
}
.divIphone11{

}
.h1Iphone11{
    font-size: 2em;
    text-align: center;
    background-color: #FAFAFA;
    color: #000000;
}
.h2JustIphone11{
    font-size: 1.5em;
    text-align: center;
    background-color: #FAFAFA;
    color: #000000;
}
.pIphone11From{
    text-align: center;
    color: #888888;
    background-color: #FAFAFA;
    padding-top: 5px;
}
.aIphone11LearnMoreBuy{
    text-align: center;
    background-color: #FAFAFA;
    padding-top: 10px;
}
.aIphone11LearnMore{
    color: #66BBFF;
}
.aIphone11Buy{
    color: #66BBFF;
}
.figureiPhone11{
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
}

.classHover:hover{
    opacity:0.5 ;
}




