.appleLogo{
    vertical-align: top;
    display: inline-block;
    width: 33%;


}

.menuIcon{

    vertical-align: top;
    display: inline-block;
    width: 33%;

}

.shoppingCart{

    vertical-align: top;
    display: inline-block;
    width: 33%;

}
.section1{
    background-color: black;
    height: auto;
}

.inline1{
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

body{
    background-color: black;
    color:white;
}

.classHover:hover{
    opacity:0.5 ;
}
.classSearch{
background-color: #282828;
}

input{
  background-image: url("/img/search.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}